.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

/* additional styles just to make things look a bit nicer */
body { 
    background:#FFF;
font-family: sans-serif ;
    font-weight: bold;
    <!--font:30px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;-->
    color:#dadada; 
}
.step { 
    width:940px; 
    font-size: 14em;
    margin:0 auto 24px auto; 
    text-align:center; 
        color:#dadada; 
    letter-spacing: -.08em;

}
